@import "../../styles/variables";
@import "../../styles/flex";

.reviews {
  &-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    padding: 16px;

    @media (width >= 650px) {
      flex-direction: row;
    }

    &__total {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      @media (width >= 410px) {
        flex-direction: row;
      }
    }
  }

  &-stars {
    height: 24px;
  }

  &-grid {
    overflow-x: auto;
    max-width: 100%;

    ul {
      display: flex;
      gap: 20px;
    }
  }
}

.review {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  padding: 16px;

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__rating {
    height: 24px;
  }

  &__body {
    font-size: 0.9rem;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 12px;

    &-name {
      font-weight: 500;
      margin: 0;
    }
  }
}
