@use "./variables";

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-roboto-flex);
  font-weight: 300;
  color: variables.$color-primary;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

ul,
li,
dl,
dt,
dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

select,
input,
textarea {
  font: inherit;
  border: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-space-grotesk);
  font-weight: variables.$font-weight-headings;
  margin: 0;
}

a {
  color: inherit;
}

.hidden {
  left: -9999px;
  position: absolute;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 9;
}

.sr-only {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
