@use "./variables";
@use "./flex";

.hero {
  background-color: variables.$color-brand;
  color: variables.$color-secondary;
  position: relative;
  @include flex.vertical-flex;
  justify-content: center;
  overflow: hidden;

  > * {
    z-index: 1;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
  }

  &__content {
    @include flex.vertical-flex;
  }

  &--home {
    text-align: center;
    gap: 30px;

    .section__title {
      font-size: 3rem;
    }

    .hero {
      &__content {
        gap: 30px;
      }

      &__text {
        @include flex.vertical-flex;
        gap: 20px;
        font-size: 1.6rem;

        @media (width >= variables.$breakpoint-lg) {
          font-size: 2rem;
        }
      }

      &__actions {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (width >= variables.$breakpoint-lg) {
          flex-direction: row;
        }

        .button {
          width: 165px;
        }
      }
    }
  }
}
