$color-primary: #211f1f;
$color-secondary: #fff;
$color-brand: #212344;
$color-accent: #b6203a;

$breakpoint-sm: 470px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1100px;

$font-weight-headings: 500;

$header-height: 80px;
$topbar-height: 142px;
