@use "../../styles/variables";
@use "../../styles/flex";

.staff {
  padding: 40px 0;

  &__title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  &__members {
    @include flex.vertical-flex;
    gap: 50px;
    margin-top: 20px;

    @media (width >= variables.$breakpoint-sm) {
      flex-direction: row;
      gap: 100px;
    }
  }
}

.member {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__picture {
    align-self: center;
    text-align: center;
    width: 200px;

    img {
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }
}
